# Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process
# installed torch-2.8.0+cu128 torchaudio-2.8.0+cu128
flask
opencv-python
torch
torchvision
Pillow
transformers
numpy
hf_xet
psutil
accelerate
scipy
ultralytics
pyrealsense2